<!DOCTYPE html>
<html>
<head>
    <title>Location Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #map { 
            height: 100vh; 
            width: 100%;
            z-index: 1;
        }
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    
    <!-- Make sure these scripts load in this order -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>
